# 1-4 basic 과제

### [Q1] 리스트로 부서 내 사원들을 한 번에 모아서 출력해주세요.

#### [Q1-1] my_team 리스트에 위 세 명의 사원을 저장해주세요.

In [1]:
my_team = ['김단풍', '이버들', '박바오밥']

#### [Q1-2] my_team 리스트를 출력해주세요.

In [2]:
print(my_team)

['김단풍', '이버들', '박바오밥']

### [Q2] 튜플을 이용해 순서가 변하지 않게 데이터를 표현해보아요.

#### [Q2-1] 박바오밥사원의 이름과 성을 나누어 튜플데이터로 만들고, name변수에 저장해주세요.

In [3]:
name = ("박", "바오밥")

#### [Q2-2] 앞에서 저장한 name 변수를 아래 예시 포맷에 맞춰 출력해주세요.

ex ) 박바오밥 사원의 성은 박 이고, 이름은 바오밥 임이 확실해.

In [4]:
print(my_team[2], "사원의 성은", name[0], "이고, 이름은", name[1], "임이 확실해.")

박바오밥 사원의 성은 박 이고, 이름은 바오밥 임이 확실해.

#### [Q2-3] 김단풍, 이버들, 박바오밥 세 명의 사원을 성과 이름이 구분되게 [성][이름] 순으로 튜플로 표현한 뒤 my_team2 변수에 저장해주세요.

In [8]:
my_team2 = ("김", "단풍"), ("이", "버들"), ("박", "바오밥")

#### [Q2-4] 앞에서 저장한 my_team2 변수를 출력해주세요.

In [9]:
print(list(my_team2))

[('김', '단풍'), ('이', '버들'), ('박', '바오밥')]

### [Q3] 딕셔너리를 이용해 사원들의 이름을 구분해주세요.

#### [Q3-1] 딕셔너리 이름 key의 value에 Blossom을, 또 다른 성 key의 value에 May를 할당한 뒤 name2 변수에 저장해주세요.

In [10]:
name2 = { "이름" : "Blossom", "성" : "May" }

#### [Q3-2] 위에서 저장한 name2 변수를 출력해주세요.

In [11]:
print(name2)

{'이름': 'Blossom', '성': 'May'}

#### [Q3-3] 김단풍, 이버들, 박바오밥, Blossom May 네 명의 사원을 성, 이름 필드를 가진 딕셔너리로 표현한 뒤 my_team3 변수에 저장해주세요.

In [15]:
my_team3 = [
    { "성" : "김", "이름" : "단풍"},
    { "성" : "이", "이름" : "버들"},
    { "성" : "박", "이름" : "바오밥"},
    { "성" : "May", "이름" : "Blossom"}
    ]

#### [Q3-4] 위에서 저장한 my_team3 변수를 출력해주세요.

In [16]:
print(my_team3)

[{'성': '김', '이름': '단풍'}, {'성': '이', '이름': '버들'}, {'성': '박', '이름': '바오밥'}, {'성': 'May', '이름': 'Blossom'}]