# 1-4 advanced 과제

### Aligned String
형식은 "{[파라미터의 자리숫자]:[채울문자열][채울 공간의 크기][출력할 데이터의 타입]}"
이런 식으로 되어있다고 한다.

In [1]:
print('{0:3d}'.format(1))
print('{0:3d}'.format(10))
print('{0:3d}'.format(100))

  1
 10
100

### [Q1] 그럼 다음 모양을 출력해볼까요?

In [2]:
print("*")
print("**")
print("***")

*
**
***

In [8]:
for i in range(3):
    print("*" * (i+1))

*
**
***

### [Q2] 가운데 정렬을 이용하여 이등변 삼각형 모양의 별을 출력해주세요.

In [18]:
print('{0:^5s}'.format('*'))
print('{0:^5s}'.format('* *'))
print('{0:^5s}'.format('* * *'))

  *
 * *
* * *

### [Q3] 트리장식 정보를 다음과 같이 출력해주세요.

In [29]:
smallstart_price = "{0:05.02f}".format(2.35)

In [32]:
print("name            price")
print("big star        41.36")
print("small start    ", smallstart_price)
print("twinkle bulb    87.76")

name            price
big star        41.36
small start     02.35
twinkle bulb    87.76